{% extends 'layout_index.html' %}

{% block title_content %}
<h1>{{title}}</h1>
{% endblock %}

{% block content %}
<div>
  <div style="font-size: 1.4em;">
    <label for="shutdown-target">Target IP:</label>
    <!--input id="shutdown-target" value="localhost" type="text" style="border: none; font-size: 1.2em; padding: 10px;"-->
    <input id="shutdown-target" value="{{ server_ip }}" type="text" style="border: none; font-size: 1.2em; padding: 10px;">
  </div>
  <div style="font-size: 1.6em;">
    Select Shutdown Time:
    <select id="shutdown-time" style="font-size: 1.3em;" onchange="updateTextBox()">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30" selected>30</option>
      <option value="45">45</option>
      <option value="60">60</option>
      <option value="75">75</option>
      <option value="90">90</option>
    </select>
    <div style="font-size: 1.4em; margin-top: 10px;">
      <label for="selected-time">Shutdown after</label>
      <input id="selected-time" type="text" style="border: none; font-size: 1.2em; padding: 10px; width: 70px; text-align: center;">
      minutes
    </div>
    <div style="text-align: right; margin-top: 10px;">
      <button onclick="shutdown()" style="font-size: 1.7em; margin: 10px; padding: 10px;">Setting</button>
      <button onclick="getRemainingTime()" style="font-size: 1.7em; margin: 10px; padding: 10px;">Check</button>
    </div>
  </div>
</div>

<div id="message-box" style="margin-top: 10px; padding: 5px; border: 1px solid #ccc; display: none; font-size: 1.5em;">
  <p id="message-content"></p>
</div>

<script>
  function updateTextBox() {
    const selectedTime = document.getElementById('shutdown-time').value;
    document.getElementById('selected-time').value = selectedTime;
  }

  function shutdown() {
    const target_ip = document.getElementById('shutdown-target').value;
    const minutes = document.getElementById('selected-time').value;
    fetch(`http://${target_ip}:3333/shutdown/${minutes}`)
      .then(response => { 
        console.log(response);
        return response.text() 
      })
      .then(data => {
        document.getElementById('message-content').innerText = data;
        document.getElementById('message-box').style.display = 'block';
      })
      .catch(error => {
        console.error('Error:', error);
        document.getElementById('message-content').innerText = 'An error occurred. (shutdown API)';
        document.getElementById('message-box').style.display = 'block';
      });
  }

  function getRemainingTime() {
    const target_ip = document.getElementById('shutdown-target').value;
    fetch(`http://${target_ip}:3333/shutdownRemainedMinutes`)
      .then(response => { 
        console.log(response);
        return response.text() 
      })
      .then(data => {
        document.getElementById('message-content').innerText = data;
        document.getElementById('message-box').style.display = 'block';
      })
      .catch(error => {
        console.error('Error:', error);
        document.getElementById('message-content').innerText = 'An error occurred. (getRemainingTime API)';
        document.getElementById('message-box').style.display = 'block';
      });
  }

  // 페이지 로딩 시 초기 값 설정
  document.addEventListener('DOMContentLoaded', (event) => {
    updateTextBox();
  });
</script>
{% endblock %}
